:root {
    --main-bg-color: #191414;
    --card-bg: #3d3c3c;
    --green: #1db954;
    --light-green: #1ed760;
    --light-grey: #bac2ac;;
    --lightest:#F2FBE0;
}

body {
    background-color: var(--main-bg-color);
    color: var(--lightest);
}

header {
    background-image: linear-gradient( var(--main-bg-color) 60%, transparent);
    height: 150px;
    text-align: center;
    padding: 10px;
    position: fixed; 
    width: 100%; 
    z-index: 100
}

main {
    display: flex;
    align-content: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 150px;
}

.track-main {
    display: block !important;
}

.scroll{
    width: 70%;
    height: 300px;
    overflow: scroll;
    margin: 10px auto;
    padding:10px;
    overflow-x: hidden;
    border: 2px solid var(--green);
    border-radius: 5px;
}

main section h4{
    text-align: center;
}

main section,
main div {
    margin-bottom: 10px;
}

main div div,
main section h4 {
    background-color: var(--card-bg);
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
    width: 80%;
}

#copy-btn {
    display: flex;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 5px;
    width: 70%;
}

i a{
    font-size: 50px !important;
    color: var(--green);
    transition: ease-in-out 0.5;
}

i a:hover{
    font-size: 50px !important;
    color: var(--light-green);
    transition: ease-in-out 0.5;
}

h2 a{
    color: var(--lightest);
}

p {
    color: var(--light-grey);
    margin: 0px;
    font-size: 80%;
}

button {
    background-color: var(--green) !important;
    border-radius: 5px !important;
}

button:hover {
    background-color: var(--light-green) !important
}

.callout {
    border-radius: 5px;
    background-color: var(--card-bg) !important;
    color: var(--green) !important;
    margin: auto !important;
}

.alert {
    border-radius: 5px;
    background-color: var(--card-bg) !important;
    color: var(--green) !important;
}

.alert button {
    background-color: var(--card-bg) !important;
}

#loading {
    background-color: var(--main-bg-color) !important;
    margin: auto;
    display: block;
}

nav {
    background-image: linear-gradient( transparent, var(--main-bg-color) 50%);
    height: 50px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 100
}

nav a {
    padding-top: 25px !important;
    color: var(--lightest);
    transition: ease-in-out 0.5;
}

nav a:hover {
    color: var(--light-green);
    transition: ease-in-out 0.5;
}

@media screen and (min-width: 992px) {
    
    header {
        height: 200px;
    }

    main {
        padding-top: 200px;
    }

    main section {
        display: flex;
        width: 80%;
        margin: 0 auto;
        font-size: 90%;
    }

    main section div {
        padding: 10px 10px;
    }

    h4 {
        margin: 0;
    }

    #copy-btn {
        width: 25%;
    }

    .scroll{
        width: 40%;
        height: 380px;
        overflow: scroll;
        margin: auto;
        overflow-x: hidden;
        margin: 10px auto;
        padding:10px;
    }
    
    .auto {
        display: flex;
        align-content: center;
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
    }

    p {
        font-size: 130%;
        padding: 14px 20px;
    }

}
