:root {
    --main-bg-color: #191414;
    --card-bg: #3d3c3c;
    --green: #1db954;
    --light-green: #1ed760;
    --lightest:#F2FBE0;
}

body {
    background-color: var(--main-bg-color);
    color: var(--lightest);
}

main {
    transform: translateY(+50%);
}

.main-transform{
    transform: translateY(+30%) !important;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

form label{
    color: var(--lightest);
}

form input {
    border-radius: 5px !important;
}

button {
    background-color: var(--green) !important;
    border-radius: 5px !important;
}

button:hover {
    background-color: var(--light-green) !important
}

.alert {
    border-radius: 5px;
    background-color: var(--card-bg) !important;
    color: var(--green) !important;
}

.alert button {
    background-color: var(--card-bg) !important;
}

nav {
    background-image: linear-gradient( transparent, var(--main-bg-color) 50%);
    height: 50px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 100
}

nav a {
    color: var(--lightest);
    transition: ease-in-out 0.5;
}

nav a:hover {
    color: var(--light-green);
    transition: ease-in-out 0.5;
}